body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #ff7300;
    padding: 0 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;

}


.scale-50 {
    scale: 60%;
}

.scale-70 {
    scale: 95%;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    text-align: center;
}

main {
    padding: 20px;
}

footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

p {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 1.2em;
    text-align: left;
    color: #000000;
}

a {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
}

.custom-image-bullets {
    padding-left: 20px;
    width: 100%;
}

body {
    background-image: url('images/Fond dragon ball.jpg');
    background-size: cover;
    background-repeat: space;
    background-position: center;
    background-attachment: fixed;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: blue;
}

.redorange-header {
    color: #ff0000;
}

.black-header {
    color: black
}

.last-para {
    width: 40%;
    padding: 10px;
    margin-bottom: 40px;
    color: black;

}

.display-flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}

.structure-de-texte {
    padding: 1px;
    font-size: 1.2em;
    text-align: left;
    color: #000000;
    width: 100%;
}

.flex-direction-column-texte-et-image {
    scale: 50%;
}

.Bienvenue {
    scale: 80%
}

.arc-enfant {
    width: 20%
}

.pilaf1 {
    width: 40%
}

.pilaf2 {
    width: 30%
}

.jackie-chun {
    width: 20%;
}

.tien {
    width: 30%;
}

.goku-mj {
    width: 40%;
}

.goku-transfo-1 {
    width: 20%;
}

.freezer-form {
    width: 40%;
}

.arcyborg1 {
    display: inline-block;
    vertical-align: top;
    width: 33.25%;
    justify-content: space-between;
}

.arcyborg2 {
    display: inline-block;
    vertical-align: top;
    justify-content: space-between;
    width: 28%;
}

.buu-transfo {
    scale: 70%;
}

.baby {
    width: 60%;
}

.superc17 {
    scale: 100%;
}

.beeruswhis {
    scale: 100%;
}

.freezer {
    scale: 80%;
}

.black-goku-scale {
    width: 20%;
}

.hit {
    scale: 100%;
}

.migate {
    scale: 100%;
}

.moro {
    scale: 100%;
}

.dbheroes {
    scale: 100%;
}

.gokutransfo2 {
    width: 70%;
}