body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

header {
    background-color: #ff7300;
    padding: 0 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1;

}

.home-pic {
    scale: 80%;
}

.scale-50 {
    scale: 60%;
}

.scale-70 {
    scale: 95%;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    text-align: center;
}

main {
    padding: 20px;
}

footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
p {
    width: 30%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: rgba(0,0,0,0);
    backdrop-filter: blur(2px);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.2em;
    text-align: left;
    color: #000000;
}
a {
    width: 10%;
    padding: 10px;
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
}

.custom-image-bullets {
    padding-left: 20px;
}
body {
    background-image: url('images/Fond dragon ball.jpg');
    background-size: cover;
    background-repeat: space;
    background-position: center;
    background-attachment: fixed;
}
h1, h2, h3, h4, h5, h6 {
    color: blue;
}
.redorange-header {
    color: #ff0000;
}
.black-header {
    color: black
}
.last-para {
    width: 40%;
    padding: 10px;
    margin-bottom: 40px;
    color: black;

}

.display-flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.justify-content-end {
    justify-content: end;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-space-between {
    justify-content: space-between;
}
.structure-de-texte {
    /*ceci est un effet de flou type verre de fenêtre */
    background-color: rgba(0,0,0,0);
    backdrop-filter: blur(2px);
    /*background-color: #fccc49;*/
    padding: 1px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.2em;
    text-align: left;
    color: #000000;
    width: 30%;
}
.flex-direction-column-texte-et-image {
    flex-direction: column;
    float: right;
    justify-content: space-between;
    display: flex;
}
.black-goku-scale {
    scale: 50%;
    flex-direction: column;
    float: right;
    justify-content: space-between;
    display: flex;
}
.arc-buu {
    scale: 100%;
    flex-direction: column;
    float: right;
    justify-content: space-between;
    display: flex;
}
.Bienvenue {
    scale:80%
}
.devilman {
    scale: 100%;
    flex-direction: column;
    float: right;
    justify-content: stretch;
    display: flex;

}